body{
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    background-color: transparent !important;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

   ::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  } 
