<mat-drawer-container [hasBackdrop]="false">

  <mat-drawer-content class=" border-gray-300 border">
    <div class="h-screen flex flex-col relative">
      <div id="viewer" class="flex-1 overflow-auto w-full h-screen border border-gray-300"></div>
      <div class="fixed bottom-0 left-0 right-0 p-4 bg-white/90 flex justify-center gap-4 shadow-[0_-2px_10px_rgba(0,0,0,0.1)]">
        <button (click)="prevPage()" class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-800 border-none cursor-pointer">Previous</button>
        <button (click)="nextPage()" class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-800 border-none cursor-pointer">Next</button>
        <!-- <button (click)="DIndex.open();DSearch.close()" class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-800 border-none cursor-pointer">Toggle Drawer</button>
        <button (click)="DSearch.toggle()" class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-800 border-none cursor-pointer">Toggle search</button>
        <button (click)="DTopics.toggle()" class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-800 border-none cursor-pointer">Toggle topics</button> -->

      </div>
    </div>
    <!-- leftside -->
    <div >
      <div class="leftside">

      </div>
    </div>
  </mat-drawer-content>

<!--
    <mat-drawer #DIndex mode="over" class="max-w-[90vw] md:max-w-[25vw]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Nostrum accusamus minima facere aspernatur tenetur illum ipsum veritatis molestiae voluptatibus.
       Odit necessitatibus ratione optio accusantium excepturi saepe illo molestiae maiores consectetur.

  </mat-drawer>
  <mat-drawer #DSearch mode="over" class="max-w-[90vw] md:max-w-[25vw]">
      drawer_search Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Nostrum accusamus minima facere aspernatur tenetur illum ipsum veritatis molestiae voluptatibus.
       Odit necessitatibus ratione optio accusantium excepturi saepe illo molestiae maiores consectetur.

  </mat-drawer>

  <mat-drawer #DTopics mode="over" class="max-w-[90vw] md:max-w-[25vw]">
      drawer_topics Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Nostrum accusamus minima facere aspernatur tenetur illum ipsum veritatis molestiae voluptatibus.
       Odit necessitatibus ratione optio accusantium excepturi saepe illo molestiae maiores consectetur.

  </mat-drawer> -->
</mat-drawer-container>
