@font-face {
	font-family:"AGA Arabesque";
	font-style:normal;
	font-weight:normal;
	/* src : url("../Fonts/AGA-Arabesque.TTF"); */
	src : url("../Fonts/WMG-AGA-Arabesque.otf");
}
@font-face {
	font-family:"Harf-Fannan";
	font-style:normal;
	font-weight:300;
	/* src : url("../Fonts/Harf-Fannan.ttf"); */
	src : url("../Fonts/WMG-Harf-Fannan.otf");
}
@font-face {
	font-family:"KFGQPC Arabic Symbols 01";
	font-style:normal;
	font-weight:normal;
	/* src : url("../Fonts/KFGQPCArabicSymbols01.otf"); */
	src : url("../Fonts/WMG-KFGQPCArabicSymbols01.otf");
}
@font-face {
	font-family:"KFGQPC Uthmanic Script HAFS";
	font-style:normal;
	font-weight:normal;
	/* src : url("../Fonts/KFGQPCUthmanicScriptHAFS.otf"); */
	src : url("../Fonts/UthmanicHafs1 Ver09.otf");
}
@font-face {
	font-family:"Qadi Linotype";
	font-style:normal;
	font-weight:normal;
	/* src : url("../Fonts/QadiLinotype.otf"); */
	src : url("../Fonts/WMG-QadiLinotype.otf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
	/* src : url("../Fonts/TimesNewRomanPS-BoldMT.ttf"); */
	src : url("../Fonts/WMG-Lotus-Bold.otf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:normal;
	/* src : url("../Fonts/TimesNewRomanPSMT.ttf"); */
	src : url("../Fonts/WMG-Lotus-Light.otf");
}
@font-face {
	font-family:"louts shamy";
	font-style:normal;
	font-weight:300;
	/* src : url("../Fonts/louts-shamy.ttf"); */
	src : url("../Fonts/WMG-Lotus-Light.otf");
}
@font-face {
	font-family:"louts shamy";
	font-style:normal;
	font-weight:bold;
	/* src : url("../Fonts/louts-shamy-Bold.ttf"); */
	src : url("../Fonts/WMG-Lotus-Bold.otf");
}

html {
	font-size: 35px;
}

* {
	direction: rtl;
	margin: 0;
    padding: 0;
    outline:0;
	font-weight: normal;
}

body {
	margin: 10px 20px;
}

.chapter {text-align: center;
	font-size: 1rem;
	font-family: "Qadi Linotype";
	color: #00a5b5;}

h1 {text-align: center;
	font-size: 1rem;
	font-family: "louts shamy";
	color: #00a5b5;}

h2 {text-align: center;
	font-size: 0.875rem;
	font-family: "louts shamy";
	color: #00a5b5;}

h3 {text-align: center;
	font-size: 0.7em;
	font-family: "louts shamy";
	color: #00a5b5;
}

p, li, .list, .p{
    direction: rtl;
	font-family: "louts shamy";
	font-size: 0.625rem;
	line-height: 1.0rem;
    text-align: justify;
}

.p{
	display: block
}

li, .list {
	margin: 0px 0px 0px 10px;
    text-indent: 0.2rem;
}

p, .p{
	margin-block-start: 0.0rem;
	margin-block-end: 0.2rem;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0.5rem;
}

ol {
	display: block;
	list-style-type: arabic-indic;
	margin-block-start: 0.0rem;
	margin-block-end: 0.0rem;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0.5rem;
}
.level-2, .list2 {
	margin: 10px 30px 0px 0px;
    text-indent: 0rem;
    list-style-type:disc;
    font-family: "louts shamy";
	font-size: 0.625rem;
	line-height: 1.6;}

.level-3 {
	margin: 10px 40px 0px 0px;
    text-indent: 0rem;
    list-style-type: circle;
    font-family: "louts shamy";
	font-size: 0.625rem;
	line-height: 1.6;}

.level-4 {
	margin: 10px 50px 0px 0px;
    text-indent: 0rem;
    list-style-type: square;
    font-family: "louts shamy";
	font-size: 0.625rem;
	line-height: 1.6;}

ul li p .p{text-indent: 0px;}
ul ul {list-style-type: square;}
ul ul ul{list-style-type: circle;}


.quran {
	font-family: "KFGQPC Uthmanic Script HAFS";
	font-size: 0.6rem;
}

.quran-bracket {
	font-family: "louts shamy";
	color: #00a5b5;
}
strong {
	font-weight: bold;
  }
.bold {
    font-weight: bold;}

.bold-pantone {
	font-weight: bold;
	color: #00a5b5}

.pantone {
	color: #00a5b5}	
.center{
	text-align: center;
}
.center-table {
	font-family:"Harf-Fannan";
	color: #00a5b5;
	text-align: center;
}
.bold-pantone-title {
	/* font-family: "Harf-Fannan"; */
	font-weight:bold;
	color: #00a5b5;
}	
.saying-head {
    color: #1870b8;}

.break {
	/* display: none; */
	font-family: "AGA Arabesque"; 
	font-size: 0.8rem;
	text-align: center;}

.form-pharas {
	/* font-family: "KFGQPC Arabic Symbols 01"; */
	font-weight: regular;
	font-weight: 0;
	font-size: 0.7rem;
}

.form-pbuh {
	color: #00a5b5}

.basmala {
	font-family: "KFGQPC Arabic Symbols 01";
	font-size: 2.0rem;
	text-align: center;
	padding: 0px 0px 0px 10px;
}

.basmala2 {
    text-indent: 0rem;
	font-family: "AGA Arabesque";
    font-size: 200px;
	text-align: center;
    color: #24408e;

	margin-block-start: 50%;
	margin-block-end: 0.0rem;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0.0rem;

}

.takhreeg-aya	{
	font-size: 0.5rem;}



/* ----------- FootNotes -----------*/
/*._idFootnoteAnchor {display: none;}   */
/*._idFootnote {display: none;}         */
.footnote {
    display: block;
    font-size: 0.5rem;}
/*----------------------------------*/



._idFootnoteAnchor {
    vertical-align:baseline;
    text-decoration:none;}



.sigil_split_marker{
	display: none;}

.foot-refrence, ._idFootnoteLink {
	font-family: "louts shamy";
    font-size: 0.5rem;
	font-weight: normal;
    text-decoration:none;
	display: inline;
    vertical-align: super;
}

/*-----------------------------------*/


.work-team {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.work-team-head {
    color: white;
    background-color: #616989;
    border: 1px solid black;
}

.work-team-cell {
    border: 1px solid black;
}

.work-team-head-c {
	font-family: "Qadi Linotype";
    font-weight: normal; /*bold*/
    text-align: center;
    text-indent: 0rem;
}

.work-team-cell-c {
    font-family: "louts shamy";
    text-align: center;
    text-indent: 0rem;
}

.cover, .cover-bold, .centered-normal {
    font-family: "louts shamy";
    text-align: center;
    text-indent: 0rem;
}

.cover-bold {
    font-weight: 300;
}


.h2-intro {
    font-family: "Qadi Linotype";
    text-align: right;
    color: #24408e;}

.h3-intro {
    font-family: "Qadi Linotype";
    text-align: right;
    text-indent: 0rem;
    color: #40ad48;}


.h4-intro {
    font-family: "louts shamy";
    text-align: right;
    text-indent: 0rem;
    color: #24408e;}

.image-catptian {
    font-family: "louts shamy";
    text-align: center;
    text-indent: 0rem;
    color: #24408e;
}

.image-catptian img {
	height: 16rem;
}

.qr-captian {
    font-family: "Times New Roman";
    text-align: center;
    text-indent: 0rem;
    color: #24408e;
}

.qr-link {
    font-family: "Times New Roman";
    text-align: center;
    text-indent: 0rem;
    color: #24408e;
    text-decoration: underline;
}

/*------------------------------------------------*/
.poetry-right {
    text-align: right;
    font-weight: bold;
}
.poetry-left {
    text-align: left;
    font-weight: bold;
}
.poetry-foot-right {
    text-align: right;
    font-weight: bold;
    font-size: 1rem;
}
.poetry-foot-left {
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}

.bab-title, .section-title {
    font-family: "Harf-Fannan";    
}


.doaa-centered {
	padding: 0.4rem 0rem 0rem 0rem;
    text-align: center;
    font-family: "Qadi Linotype";
    font-weight: bold;
}

.slides{
	
}
.slides img{
	width:48px;
	vertical-align: middle;
}
.slides button{
    font-family: "Harf-Fannan";    
    font-weight: bold;
	font-size: inherit;
	text-decoration: none;
	color: #666699;
	cursor: pointer;
}
.slides button:hover{
	color: #1687e4;
}

.iuni-title {
    position: absolute;
    top: 70%;
    color: #666699;
    font-size: 50px;
	font-weight: bold;
	width:95%;
	text-align: center;
}